.jugadores-tabla {
  width: 90%;
  background-color: white;
  margin: 50px;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(yellow), color-stop(orange), to(brown));
  background-image: linear-gradient(to right, white 60%, yellow, orange, brown);
}

.jugadores-tabla .tabla-lista {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.9em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(yellow), color-stop(orange), to(brown));
  background-image: linear-gradient(to right, white 60%, yellow, orange, brown);
}

.jugadores-tabla .tabla-header {
  color: brown;
  font-size: 1.1em;
  font-weight: bolder;
}

.jugadores-tabla .tabla-header, .jugadores-tabla .tabla--jugador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto {
  width: 500px;
  height: 500px;
  background-color: white;
  min-height: 100%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  color: white;
}

.contacto--tittle, .contacto--data, .contacto--button {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
  background-color: gray;
}

.contacto--tittle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.contacto--data {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.contacto--button {
  padding: 5p x;
  margin: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.datos .tittle {
  padding: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.datos .asociate {
  padding: 15px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.datos .socios {
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  gap: 10px;
}

.datos .socios .botones {
  font-size: 20px;
}

.datos .socios .botones:hover {
  padding: 10px;
  margin-left: 50px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.datos .socios .button {
  margin: 10px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  gap: 10px;
}

.datos .socios .button:hover {
  padding: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: lightcoral;
}

.futbol {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px, 100px, 100px;
      grid-template-columns: 100px, 100px, 100px;
}

.futbol .horizonte {
  color: white;
  background: black;
  margin: 0px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.futbol .camino {
  color: white;
  background: black;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.futbol .personas {
  color: white;
  background: black;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.conteinerTemplate, .jugadores-tabla {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: brown;
  font-family: arial, helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5) conteiner;
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5) conteiner;
  box-shadow-display: flex;
  box-shadow-align-items: center;
  box-shadow-justify-content: center;
  box-shadow-grid-column-start: 2;
  box-shadow-grid-column-end: 6;
  box-shadow-justify-content: center;
  box-shadow-align-items: center;
  box-shadow-padding: auto;
}

.principal .Logo {
  -ms-grid-column: 0;
      grid-column-start: 0;
  grid-column-end: 2;
  width: 20vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal .Logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 4s;
  transition: 4s;
}

.principal .Menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[5];
      grid-template-columns: repeat(5, 150px);
  gap: 3px;
  border: 3px solid white;
  background: #090909;
  width: auto;
  max-width: auto;
  margin: auto;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.principal .Menu li {
  display: inline-block;
  text-align: center;
}

.principal .Menu li a {
  text-decoration: none;
  color: white;
  padding: 20px 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.principal .Menu li a:hover {
  background: darkgoldenrod;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pie {
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pie .rrss {
  list-style-type: none;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pie .rrss:hover {
  margin-left: 50px;
  padding: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media all and (max-width: 950px) {
  .principal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .Logo {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
  .conteiner {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}
/*# sourceMappingURL=style.css.map */