.conteinerTemplate, .jugadores-tabla, body {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 50px;
}

.jugadores-tabla {
  width: 90%;
  background-color: white;
  margin: 50px;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(yellow), color-stop(orange), to(brown));
  background-image: linear-gradient(to right, white 60%, yellow, orange, brown);
}

.jugadores-tabla .tabla-lista {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.9em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(yellow), color-stop(orange), to(brown));
  background-image: linear-gradient(to right, white 60%, yellow, orange, brown);
}

.jugadores-tabla .tabla-header {
  color: brown;
  font-size: 1.1em;
  font-weight: bolder;
}

.jugadores-tabla .tabla-header, .jugadores-tabla .tabla--jugador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto {
  width: 500px;
  height: 500px;
  background-color: white;
  min-height: 100%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  color: white;
}

.contacto--tittle, .contacto--data, .contacto--button {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
  background-color: gray;
}

.contacto--tittle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.contacto--data {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.contacto--button {
  padding: 5p x;
  margin: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.datos .tittle {
  padding: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.datos .asociate {
  padding: 15px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.datos .socios {
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  gap: 10px;
}

.datos .socios .botones {
  font-size: 20px;
}

.datos .socios .botones:hover {
  padding: 10px;
  margin-left: 50px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.datos .socios .button {
  margin: 10px;
  padding: auto;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  height: 30px;
  width: auto;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.datos .socios .button:hover {
  padding: auto;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: lightcoral;
}

.futbol {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px, 100px, 100px;
      grid-template-columns: 100px, 100px, 100px;
}

.futbol .horizonte {
  color: white;
  background: black;
  margin: 0px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.futbol .camino {
  color: white;
  background: black;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.futbol .personas {
  color: white;
  background: black;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.galeria {
  font-family: 'open sans';
}

.galeria h1 {
  text-align: center;
  margin: 20px 0 15px;
  font-weight: 300;
}

.galeria .linea {
  border-top: 5px solid;
}

.galeria .contendor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 3px;
}

.galeria .contendor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 300px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.galeria .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0%;
  margin: 0%;
}

*body {
  background-color: black;
  font-family: arial, helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  border: 2px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  background-color: black;
  border: 1px solid black;
  width: 100%;
  position: relative;
  height: auto;
  font-size: 20px;
}

header nav .navbar-collapse {
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
}

header nav .navbar-nav {
  padding-top: 0;
  padding-bottom: 0;
}

header nav .navbar-nav .nav-item:hover {
  background: darkgoldenrod;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pie {
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pie .rrss {
  list-style-type: none;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pie .rrss:hover {
  margin-left: 50px;
  padding: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
/*# sourceMappingURL=style.css.map */